name: Weekly Photo Alert
on:
  schedule:
    - cron: '0 0 * * 1'
    - cron: '0 11 * * 5'
    - cron: '0 11 * * 6'
    - cron: '0 2 * * 0'
    - cron: '0 11 * * 0'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 이 권한이 있어야 파일을 저장할 수 있습니다.
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install selenium webdriver-manager python-telegram-bot Pillow requests
      - name: Run Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python 234.py
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add last_image_hash.txt last_run_time.txt || exit 0
          git commit -m "Update logs" || exit 0
          git push
