name: Weekly Photo Alert
on:
  schedule:
    - cron: '0 0 * * 1'   # 월요일 오전 9시 (한국)
    - cron: '0 11 * * 5'  # 금요일 오후 8시 (한국)
    - cron: '0 11 * * 6'  # 토요일 오후 8시 (한국)
    - cron: '0 2 * * 0'   # 일요일 오전 11시 (한국)
    - cron: '0 11 * * 0'  # 일요일 오후 8시 (한국)
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install selenium webdriver-manager python-telegram-bot Pillow requests
      - name: Run Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python 234.py
      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add last_image.txt || exit 0
          git commit -m "Update last image URL" || exit 0
          git push
